.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
    background-image: linear-gradient(lightpink,coral);
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 200px;
    position: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #818181;
    float: right;
    text-align: right;
    padding: 5px 10px 10px;
    height: 2.5rem;
}

.brandName {
padding-bottom: 75px;
    font-size: 40px;
}

.main table  {
    width: 100%;
    table-layout: fixed ;
    font-size: 20px;
}

.main table tr:hover  {
    background-color: #f5f5f5;
    font-size: 30px;
}

.tabletop {
    background-image: linear-gradient(to right ,lightpink,coral);
    font-size: 30px;
    color: #818181;
}

.popup {

    color: #818181;
    border-radius: 25px;
    position: fixed;
    width: 900px;
    height: 600px;
    position:fixed;
    top: calc(13% - 25px);
    left: calc(30% - 50px);
    background-image: linear-gradient(lightpink,coral);
}
.popup .btn-holder {
    position: absolute;
    right:    30px;
    bottom:   30px;
}

.popup .category {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.checkboxes {
    width: 49%;
    display: inline-block;
}

.name-hld {
    position: absolute;
    bottom:   30px;
    left: 30px;
    color: #585858;
}

.wordcontainer {
    color: #818181;
    border-radius: 25px;
    position: fixed;
    width: 500px;
    height: 300px;
    position:fixed;
    top: calc(30% - 25px);
    left: calc(42% - 50px);
    background-image: linear-gradient(lightpink,coral);
}
.wordcontainer .top {
    text-align: center;
    padding: 55px;
    font-size: 70px;
}
.wordcontainer .bottom {
    text-align: center;
    font-size: 30px;
}
.buttonleft-hld {
    position: fixed;
    top: 45%;
    right: 0;
    left: 220px;

}
.buttonright-hld {
    position: fixed;
    top: 45%;
    right: 20px;

}

.button {
    border-radius: 25px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.index {
    padding: 20px;
    margin-left: 200px;
    font-size: 25px;
    color: #818181;
    text-align: center;
}
.index .hello {
    font-size: 60px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}
.list {
padding: 15px;
}

/*IKONY*/

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?fth6ji');
    src:  url('fonts/icomoon.eot?fth6ji#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fth6ji') format('truetype'),
    url('fonts/icomoon.woff?fth6ji') format('woff'),
    url('fonts/icomoon.svg?fth6ji#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ha:before {
    content: "\e900";
    padding-right: 10px;

}
.icon-yu:before {
    content: "\e901";
    padding-right: 10px;
}
.icon-yo:before {
    content: "\e902";
    padding-right: 10px;
}
.icon-hiragana:before {
    content: "\e903";
    padding-right: 10px;
}

